
#namaApp{
    -fx-font-family:'Copperplate Gothic Bold';
    -fx-font-size: 40px;
    -fx-padding: 20px;
    /* -fx-font-weight:bold; */
    -fx-text-fill:rgb(42, 104, 52);
    -fx-translate-y:25px;
}
#Logo{
    -fx-padding:0px 0px 30px 0px;
    -fx-translate-y:50px;
}
#labelMasuk{
    /* -fx-translate-x : -150px; */
    -fx-font-size:15px;
    -fx-translate-y:115px;
    -fx-font-family:'Berlin Sans FB';
    
}
#inputNama{
    -fx-background-radius:10px;
    -fx-pref-width: 90px ;
    -fx-max-width: 250px;
    -fx-pref-height: 35px;
    /* -fx-translate-x: -40px; */
    -fx-translate-y:120px;
    
}

#tombolMasuk{
    -fx-font-size: 15px;
    -fx-font-weight: 650;
    -fx-background-radius: 50px;
    -fx-background-color: rgb(94, 202, 94);
    -fx-padding:15px 90px 15px 90px;
    -fx-cursor:hand;
    /* -fx-translate-x: -150px; */
    -fx-translate-y: 160px;
    -fx-font-family:'Berlin Sans FB';
}
#tombolMasuk:hover{
    
    -fx-font-family:'Berlin Sans FB';
    -fx-padding:15px 90px 15px 90px;
    -fx-background-color:rgb(240, 240, 240);
    -fx-text-fill:rgb(84, 207, 84);
    -fx-border-color:green;
    -fx-border-width:3px;
    -fx-border-radius:50px;
}

#latarScene1{
    -fx-background-color: #aff1af;
    -fx-background-image:url('/app/src/main/resources/backgroundAPP.jpg');
}
/* MASUK SCENE 2 */
#latarScene2{
    -fx-background-color: #aff1af;
    -fx-background-image:url('/app/src/main/resources/backgroundAPP.jpg');
}


#pilihanMenu{
    -fx-font-size: 20px;
    -fx-font-weight:bold;
    -fx-label-padding:0px 0px 5px 0px;
    -fx-border-width:0px 0px 5px 0px;
    -fx-border-color:rgb(119, 180, 119);
    -fx-translate-y:45px;
}
#tombolHome{
    /* -fx-translate-x:-142px; */
    -fx-translate-y:270px;
    -fx-border-radius:10px;
    -fx-background-color:white;
    -fx-background-radius:12px 12px 15px 12px;
    -fx-border-color:rgb(19, 131, 19);
    -fx-border-width:5px;
    -fx-cursor:hand;
}
#tombolKenali{
    
    -fx-padding:15px 65px 15px 65px;
    -fx-font-size: 20px;
    -fx-translate-y:150px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(84, 207, 84);
    -fx-text-fill:white;
    -fx-font-weight:500;
    /* font-weight: ; */
    -fx-cursor:hand;
    
}
#tombolKenali:hover{
    
    
    -fx-background-color:rgb(240, 240, 240);
    -fx-text-fill:rgb(84, 207, 84);
    -fx-cursor:hand;
}
#tombolMinigames{
    -fx-background-color:rgb(84, 207, 84);
    -fx-text-fill:white;
    -fx-font-weight:500;
    -fx-cursor:hand;
    
    -fx-padding:15px 38px 15px 38px;
    -fx-font-size: 20px;
    -fx-translate-y:200px;
    -fx-background-radius:10px;
}
#tombolMinigames:hover{
    -fx-background-color:rgb(240, 240, 240);
    -fx-text-fill:rgb(84, 207, 84);
    
}

/* MASUK SCENE 3 */
#latarScene3{
    /* -fx-background-color: #aff1af; */
    -fx-background-image:url('/app/src/main/resources/backgroundAPP.jpg');
    /* background-color:#90ee90 */
}


#namaHewan{
    -fx-font-size: 20px;
    -fx-font-weight:bold;
    -fx-label-padding:0px 0px 5px 0px;
    -fx-border-width:0px 0px 5px 0px;
    -fx-border-color:rgb(119, 180, 119);
    -fx-translate-y:20px;
}
/* #tombolHome{
    -fx-translate-x:-142px;
    -fx-translate-y:270px;
    -fx-border-radius:10px;
    -fx-background-color:white;
    -fx-background-radius:12px 12px 15px 12px;
    -fx-border-color:rgb(19, 131, 19);
    -fx-border-width:5px;
    -fx-cursor:hand;
} */
#buttonAnjing{
    
    -fx-padding:15px 65px 15px 65px;
    -fx-font-size: 20px;
    -fx-translate-y:50px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(84, 207, 84);
    -fx-text-fill:white;
    -fx-font-weight:500;
    /* font-weight: ; */
    -fx-cursor:hand;
    
}
#buttonSapi{
    
    -fx-padding:15px 75px 15px 75px;
    -fx-font-size: 20px;
    -fx-translate-y:80px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(84, 207, 84);
    -fx-text-fill:white;
    -fx-font-weight:500;
    /* font-weight: ; */
    -fx-cursor:hand;
    
}
#buttonKucing{
    
    -fx-padding:15px 65px 15px 65px;
    -fx-font-size: 20px;
    -fx-translate-y:110px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(84, 207, 84);
    -fx-text-fill:white;
    -fx-font-weight:500;
    /* font-weight: ; */
    -fx-cursor:hand;
    
}

#buttonAyam{
    
    -fx-padding:15px 70px 15px 70px;
    -fx-font-size: 20px;
    -fx-translate-y:140px;
    -fx-background-radius:10px;
    -fx-background-color:rgb(84, 207, 84);
    -fx-text-fill:white;
    -fx-font-weight:500;
    /* font-weight: ; */
    -fx-cursor:hand;
    
}